{% extends 'menu.html' %}
{% load static %}
{% block content %}
<style>
.file-icon {
    font-size: 24px;
    margin-right: 10px;
}

.remove-button {
    cursor: pointer;
    color: red;
}
</style>
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box justify-content-between d-flex align-items-lg-center flex-lg-row flex-column">     
                        <h4 class="page-title">Meus Jobs</h4>
                        <ol class="breadcrumb m-0">
                            <a href="/jobs-individual" type="button" class="btn btn-info"><i class="ri-file-search-line me-1"></i> <span>Pesquisar Job</span> </a>
                        </ol>
                    </div>
                </div>
            </div>     

            <div class="row">
                <div class="col-12">
                    <div class="board">
                        <div class="tasks" data-plugin="dragula" data-containers='["task-list-one", "task-list-two", "task-list-three", "task-list-four","task-list-five"]'>
                            <h5 class="mt-0 task-header">A FAZER </h5>
                            
                            <div id="task-list-one" class="task-list-items">

                                {% for solicitacao in solicitacoes %}
                                    {% if solicitacao.demandas_concluidas == 0 and solicitacao.demandas_em_aprovacao == 0 %}
                                        <div class="card mb-0" task_id="1">
                                            <div class="card-body p-3">
                                            <span class="float-end badge bg-success-subtle text-success"><b>Prazo: {{ solicitacao.prazo_entrega|date:"d/m/Y" }}</b></span>
                                                <small class="text-muted"></small>

                                                <h5 class="my-2 fs-16">
                                                    <a href="#" onclick="modalTaskView('{{solicitacao.id}}')"  class="text-body">{{ solicitacao.titulo }}</a>
                                                </h5>

                                                <p class="mb-0">
                                                    <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                        <i class=" ri-group-fill text-muted"></i>
                                                        {{solicitacao.demandas_concluidas}}/{{solicitacao.total_demandas}}
                                                    </span>
                                                  
                                                </p>

                                            

                                                <div class="avatar-group mt-2">
                                                    <a href="javascript: void(0);" class="avatar-group-item"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="{{solicitacao.autor.first_name}}">
                                                        <img src="{% static 'layouts/assets/images/users/avatar-1.jpg' %}" alt=""
                                                            class="rounded-circle avatar-xs"> <span style="color:gray"> {{solicitacao.autor.first_name}}</span>
                                                    </a>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                
                                
                            </div> <!-- end company-list-1-->
                        </div>

                        <div class="tasks">
                            <h5 class="mt-0 task-header text-uppercase">Fazendo</h5>
                            
                            <div id="task-list-two" class="task-list-items">
                                {% for solicitacao in solicitacoes %}
                                                            
                                    {% if solicitacao.demandas_concluidas > 0 and solicitacao.demandas_concluidas < solicitacao.total_demandas  %}
                                        <div class="card mb-0" task_id="1">
                                            <div class="card-body p-3">
                                            <span class="float-end badge bg-success-subtle text-success"><b>Prazo: {{ solicitacao.prazo_entrega|date:"d/m/Y" }}</b></span>
                                                <small class="text-muted"></small>

                                                <h5 class="my-2 fs-16">
                                                    <a href="#" onclick="modalTaskView('{{solicitacao.id}}')"  class="text-body">{{ solicitacao.titulo }}</a>
                                                </h5>

                                                <p class="mb-0">
                                                    <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                        <i class="ri-briefcase-2-line text-muted"></i>
                                                        {{solicitacao.demandas_concluidas}}/{{solicitacao.total_demandas}}
                                                    </span>
                                                    <!-- <span class="text-nowrap mb-2 d-inline-block">
                                                        <i class="ri-discuss-line text-muted"></i>
                                                        <b>2</b> Comentários
                                                    </span> -->
                                                </p>

                                            

                                                <div class="avatar-group mt-2">
                                                    <a href="javascript: void(0);" class="avatar-group-item"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="{{solicitacao.autor.first_name}}">
                                                        <img src="{% static 'layouts/assets/images/users/avatar-1.jpg' %}" alt=""
                                                            class="rounded-circle avatar-xs"> <span style="color:gray"> {{solicitacao.autor.first_name}}</span>
                                                    </a>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                {% endfor %}
                            

                            </div> <!-- end company-list-2-->
                        </div>

                        <div class="tasks">
                            <h5 class="mt-0 task-header text-uppercase">Em Aprovação</h5>
                            <div id="task-list-three" class="task-list-items">

                                {% for solicitacao in solicitacoes %}
                            
                                    {% if solicitacao.demandas_em_aprovacao > 0 %}
                                            <div class="card mb-0" task_id="1">
                                                <div class="card-body p-3">
                                                <span class="float-end badge bg-success-subtle text-success"><b>Prazo: {{ solicitacao.prazo_entrega|date:"d/m/Y" }}</b></span>
                                                    <small class="text-muted"></small>

                                                    <h5 class="my-2 fs-16">
                                                        <a href="#" onclick="modalTaskView('{{solicitacao.id}}')"  class="text-body">{{ solicitacao.titulo }}</a>
                                                    </h5>

                                                    <p class="mb-0">
                                                        <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                            <i class="ri-briefcase-2-line text-muted"></i>
                                                            {{solicitacao.demandas_concluidas}}/{{solicitacao.total_demandas}}
                                                        </span>
                                                        <!-- <span class="text-nowrap mb-2 d-inline-block">
                                                            <i class="ri-discuss-line text-muted"></i>
                                                            <b>2</b> Comentários
                                                        </span> -->
                                                    </p>

                                                

                                                    <div class="avatar-group mt-2">
                                                        <a href="javascript: void(0);" class="avatar-group-item"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="{{solicitacao.autor.first_name}}">
                                                            <img src="{% static 'layouts/assets/images/users/avatar-1.jpg' %}" alt=""
                                                                class="rounded-circle avatar-xs"> <span style="color:gray"> {{solicitacao.autor.first_name}}</span>
                                                        </a>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                {% endfor %}

                            </div> <!-- end company-list-3-->
                        </div>

                        <div class="tasks">
                            <h5 class="mt-0 task-header text-uppercase">Concluído</h5>
                            <div id="task-list-three" class="task-list-items">

                                {% for solicitacao in solicitacoes %}
                                    {% if solicitacao.total_demandas == solicitacao.demandas_finalizadas %}
                                            <div class="card mb-0" task_id="1">
                                                <div class="card-body p-3">
                                                <span class="float-end badge bg-success-subtle text-success"><b>Prazo: {{ solicitacao.prazo_entrega|date:"d/m/Y" }}</b></span>
                                                    <small class="text-muted"></small>

                                                    <h5 class="my-2 fs-16">
                                                        <a href="#" onclick="modalTaskView('{{solicitacao.id}}')"  class="text-body">{{ solicitacao.titulo }}</a>
                                                    </h5>

                                                    <p class="mb-0">
                                                        <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                            <i class="ri-briefcase-2-line text-muted"></i>
                                                            {{solicitacao.demandas_concluidas}}/{{solicitacao.total_demandas}}
                                                        </span>
                                                        <!-- <span class="text-nowrap mb-2 d-inline-block">
                                                            <i class="ri-discuss-line text-muted"></i>
                                                            <b>2</b> Comentários
                                                        </span> -->
                                                    </p>

                                                

                                                    <div class="avatar-group mt-2">
                                                        <a href="javascript: void(0);" class="avatar-group-item"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="{{solicitacao.autor.first_name}}">
                                                            <img src="{% static 'layouts/assets/images/users/avatar-1.jpg' %}" alt=""
                                                                class="rounded-circle avatar-xs"> <span style="color:gray"> {{solicitacao.autor.first_name}}</span>
                                                        </a>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                {% endfor %}

                            </div> <!-- end company-list-3-->
                        </div>

                    </div> <!-- end .board-->
                </div> <!-- end col -->
            </div>
            <!-- end row-->
            
        </div> <!-- container -->

    </div> <!-- content -->
    <div class="modal fade task-modal-content" id="task-detail-modal" tabindex="-1" role="dialog" aria-labelledby="TaskDetailModalLabel" aria-hidden="true">
        
    </div><!-- /.modal -->

    <div class="modal fade" id="bs-example-modal-lg"  aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
        
    </div>

    <div class="modal fade" id="modal-my-jobs"  aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
        
    </div>

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <script>document.write(new Date().getFullYear())</script> © CETT - Comunicação
                </div>
               
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

function modalTaskShow(demandaID) {
        const url = '/ajax/show-demanda-task';

        $.ajax({
            url,
            type: 'GET',
            data: { 'demandaid': demandaID },
            success: function(data) {
                console.log('Entrou com sucesso!')
                $("#bs-example-modal-lg").html(data);
                $("#task-detail-modal").modal('hide');
                $("#bs-example-modal-lg").modal('show');
                
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: 'Não foi possível obter resultados!'
                });
            }
        });
    }

 function modalTaskView(solicitacaoId) {
        const url = '/ajax/show-modal-task';

        $.ajax({
            url,
            type: 'GET',
            data: { solicitacao_id: solicitacaoId },
            success: function(data) {
                console.log('Entrou com sucesso!')
                $("#task-detail-modal").html(data);
                $("#task-detail-modal").modal('show');
                
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: 'Não foi possível obter resultados!'
                });
            }
        });
    }

function removeFileDinamic(index, n) {
    console.log('entrou para remover');
    const fileInput = document.getElementById('files' + n);
    const files = Array.from(fileInput.files);
    console.log(files);
    files.splice(index, 1);

    // Cria um novo input de arquivo e copia os arquivos restantes
    const newFileInput = document.createElement('input');
    newFileInput.type = 'file';
    newFileInput.id = 'files' + n;
    newFileInput.name = 'files' + n;
    newFileInput.multiple = true;
    newFileInput.style.display = 'none';
    newFileInput.addEventListener('change', () => showSelectedFilesDinamic(n));

    const dataTransfer = new DataTransfer();
    files.forEach(file => dataTransfer.items.add(file));
    newFileInput.files = dataTransfer.files;

    // Substitui o input de arquivo anterior
    fileInput.parentNode.replaceChild(newFileInput, fileInput);

    // Atualize a lista de arquivos selecionados
    showSelectedFilesDinamic(n);
}

function showSelectedFilesDinamic(n) {
    const fileInput = document.getElementById('files' + n);
    const fileDisplay = document.getElementById('fileDisplay' + n);
    console.log(fileInput, fileDisplay);

    // Limpa a exibição de arquivos anteriores
    fileDisplay.innerHTML = "";

    const files = fileInput.files;
    for (let i = 0; i < files.length; i++) {
        const fileName = files[i].name;
        const listItem = document.createElement('div');
        listItem.className = "col-auto";
        listItem.innerHTML = `
            <i class="file-icon far fa-file"></i>
            ${fileName}
            <i class="remove-button ri-close-circle-fill" onclick="removeFileDinamic(${i},${n})"></i>
        `;
        fileDisplay.appendChild(listItem);
    }
}

</script>
{% endblock %}