{% load static %}
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="TaskDetailModalLabel">{{solicitacao.titulo}} {% if solicitacao.prioridade == 1 %}<span class="badge bg-primary ms-2">{{solicitacao.get_prioridade_display}}</span>{% else %}<span class="badge bg-warning ms-2">{{solicitacao.get_prioridade_display}}</span>{% endif %}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="p-2">
              
                <div class="row" >
                    <div class="col-md-4">
                        <div class="mb-4">
                            <h5>Data de Criação</h5>
                            <span>{{solicitacao.data_solicitacao|date:"d/m/Y"}} <small class="text-muted">{{solicitacao.data_solicitacao|date:"H:i:s"}}</small></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4">
                            <h5>Prazo de Entrega</h5>
                            <span>{{solicitacao.prazo_entrega|date:"d/m/Y"}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4" id="tooltip-container">
                            <h5>Solicitante:</h5>
                            <div id="tooltip-container3">
                                {% if solicitacao.perfil_solicitante.foto %}
                                    <img src="{{solicitacao.perfil_solicitante.foto}}" id="avatar_topo" alt="user-image" width="36" height="36" class="avatar-xs rounded-circle me-1"> {{solicitacao.autor.first_name}}
                                {% else %}
                                    <img src="https://ui-avatars.com/api/?name={{solicitacao.autor.first_name}}&color=7F9CF5&background=EBF4FF" id="avatar_topo" alt="user-image" width="36" height="36" class="avatar-xs rounded-circle me-1"> {{solicitacao.autor.first_name}}
                                {% endif %}
                          
                                </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-2">
                            <div class="card border-primary border">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Briefing</h5>
                                    <span>{{solicitacao.briefing|safe}}</span>

                                </div> <!-- end card-body-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-1">
                            <div class="card border-primary border">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Anexos da Solicitação</h5>
                                    {% for arquivo in arquivos_solicitacao %}
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <a style="width: 100%;" href="{{arquivo.rota}}" class="btn btn-soft-secondary">
                                                <i class="ri-file-fill"></i><br>{{ arquivo.rota|cut:"/media/" }}
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div> <!-- end card-body-->
                            </div>
                        </div>
                    </div>
                    {% if usuario_logado.cargo <= 2  %}
                    <div class="col-md-12">
                        <div class="mb-1">
                            <div class="card border-primary border">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Alterar Solicitação</h5>
                                    
                                    <div class="row">
                                        <form id="form_alteracao" method="POST"  enctype="multipart/form-data">
                                            <li class="list-group-item">
                                                <div class="row">
                                                <div class="col-{% if cargo != 1 %}4{% else %}3{% endif %}">
                                                    <div class="mb-3">
                                                        <label for="titulo" class="form-label">Título: </label>
                                                        <input type="text" id="titulo" name="titulo" value="{{solicitacao.titulo}}" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-{% if cargo != 1 %}4{% else %}3{% endif %}">
                                                    <div class="mb-3">
                                                        <label for="prazo_entrega" class="form-label">Prazo de Entrega: </label>
                                                        <input type="text" class="form-control" value="{{solicitacao.prazo_entrega|date:'d/m/Y'}}" id="prazo_entrega" name="prazo_entrega" placeholder="Informe o vencimento" data-toggle="input-mask" data-mask-format="00/00/0000" maxlength="10">
                                                    </div>
                                                </div>
                                              
                                                <div class="col-{% if cargo != 1 %}4{% else %}3{% endif %}">
                                                    <div class="mb-3">
                                                        <label for="simpleinput" class="form-label">Prioridade:</label>
                                                        <select class="form-control select2" data-toggle="select2" name="prioridade" id="prioridade">
                                                            <option value="1" {% if solicitacao.prioridade == 1 %} selected {% endif %}>NORMAL</option>
                                                            <option value="2" {% if solicitacao.prioridade == 2 %} selected {% endif %}>URGENTE</option>
                
                                     
                                                        </select>
                                                    </div>
                                                </div>
                                                {% if cargo == 1 %}
                                                <div class="col-3">
                                                    <div class="mb-3">
                                                        <label for="simpleinput" class="form-label">Solicitar por:</label>
                                                        <select class="form-control select2" data-toggle="select2" name="solicitante" id="solicitante">
                                                            <option value="{{request.user.id}}" selected>Ninguém</option>
                                                            {% for usuario_cordenador in usuarios_cordenadores %}
                                                            <option value="{{usuario_cordenador.id}}">{{usuario_cordenador.first_name}}</option>
                
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="col-12">
                                                    <div class="card border-success border">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-success">Briefing</h5>
                                                            <div class="mb-2">
                                                                <textarea id="briefing" name="briefing" class="summernote"></textarea>
                                                                
                                                            </div>
                                                        </div> <!-- end card-body-->
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-3 mt-3">
                                                    <h4 class="card-title text-dark"><i class="ri-folder-2-fill"></i> Cadastrar Pasta <button onclick="adicionarCampo()" style="float: right;" type="button" class="btn btn-dark btn-sm"><i class="ri-folder-2-fill"></i> <span>Adicionar Pasta</span> </button></h4> <hr>
                                                    
                                                    <div id="campos_pasta">
                                                        {% for pasta in pastas %}
                                                        <div class="campo_pasta mb-2" >
                                                            <div class="input-group">
                                                                <input disabled type="text" class="form-control " value="{{pasta.nome}}" name="pastas" placeholder="Nome da Pasta">
                                                           
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                    
                                                  
                                                <div class="col-12 mb-3 mt-3">
                                                    <h4 class="card-title text-dark"><i class="ri-shield-user-fill"></i> Designar Usuários</h4> <hr>
                                                    <div class="row">
                                                        {% for usuario in usuarios %}
                                                        <div class="col-3 mb-3">
                                                            <div class="form-check form-checkbox-dark mb-2">
                                                                <input type="checkbox" class="form-check-input" id="customCheckcolor{{usuario.id}}" name="usuarios" value="{{usuario.id}}">
                                                                <label class="form-check-label" for="customCheckcolor{{usuario.id}}">{{usuario.first_name}}</label>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                </div>
                                                </div>
                                                
                                                <div class="col-12">
                                                    
                                                </div>
                                                <div class="col-12">  
                                                    <input style="width: 100%;" type="file" id="fileInput" class="d-none" multiple onchange="showSelectedFiles()">
                                                    <div class="row" id="fileDisplay"></div>
                                                </div>

                                                <div class="col-12 mb-2">
                                                    <label for="fileInput" class="btn btn-info" style="width: 100%;">
                                                        <i class="ri-upload-cloud-line me-1"></i> Anexar Arquivos
                                                      </label>
                                                   
                                                </div> 
                                               
                                                <div class="col-12  mb-2">
                                                    <button onclick="alteraSolicitacao('{{solicitacao.id}}')" style="width: 100%;" type="button" class="btn btn-info"><i class="ri-rocket-line me-1"></i> <span>Alterar Solicitação</span> </button>
                                                </div>

                                                {% if demandas_pendentes == 1 %}
                                                <div class="col-12">
                                                    <button onclick="finalizarJob('{{solicitacao.id}}')" style="width: 100%;" type="button" class="btn btn-success"><i class=" ri-checkbox-circle-line me-1"></i> <span>Finalizar Job</span> </button>
                                                </div>
                                                {% endif %}
                                            </div>
                                            </li>
                
                                            </form>
                                    </div>

                                </div> <!-- end card-body-->
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12">
                        <div class="mb-1">
                            <div class="card border-warning border">
                                <div class="card-body">
                                    <h5 class="card-title text-warning mb-4">Demandas Relacionadas</h5>
                                    {% for demanda in demandas %}
                                    {% if demanda.descricao_entrega != "Revisão da demanda" and demanda.descricao_entrega != "Aprovação da demanda" %}
                                        <div class="col-12">
                                        
                                                <div class="row">
                                                    <div class="col-12">
                                                        <table style="width: 100%;">
                                                            <tbody>
                                                                <tr >
                                                                    <td>
                                                                        {% if solicitacao.perfil_solicitante.foto %}
                                                                            <img src="{{solicitacao.perfil_solicitante.foto}}" id="avatar_topo" alt="user-image" width="36" height="36" class="avatar-xs rounded-circle me-1"> 
                                                                        {% else %}
                                                                            <img src="https://ui-avatars.com/api/?name={{demanda.designante.first_name}}&color=7F9CF5&background=EBF4FF" id="avatar_topo" alt="user-image" width="36" height="36" class="avatar-xs rounded-circle me-1"> <b>{{demanda.designante.first_name}}</b>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td style="text-align: right;">
                                                                        <span class="badge bg-warning rounded-pill"><i class="ri-folder-line"></i> {{demanda.pasta.nome}}</span>
                                                                    
                                                                        {% if demanda.status == 1 %}
                                                                        <span class="badge bg-warning rounded-pill">{{demanda.get_status_display}}</span>
                                                                        {% elif demanda.status == 2 %}
                                                                        <span class="badge bg-primary rounded-pill">{{demanda.get_status_display}}</span>
                                                                        {% elif demanda.status == 3 %}
                                                                        <span class="badge bg-danger rounded-pill">{{demanda.get_status_display}}</span>
                                                                        {% elif demanda.status == 4 %}
                                                                        <span class="badge bg-success rounded-pill">{{demanda.get_status_display}}</span>
                                                                        {% endif %}
                                                                        </td>
                                                                </tr>
                                                            
                                                                <tr>
                                                                    <td colspan="2" class="mt-4">
                                                                    
                                                                        {% if  demanda.designante_id == request.user.id and demanda.status == 1 %}
                                                                        {{ demanda.descricao_entrega|safe }}
                                                                        <form id="formRealizaEntrega_{{forloop.counter}}"  method="POST" enctype="multipart/form-data" style="border: 3px solid #888888; border-radius: 10px; padding: 20px;">
                                                                            <div class="mt-3 mb-3"  >
                                                                                <label for="simpleinput" class="form-label">Selecione a Pasta:</label>
                                                                                <select  class="form-control" data-toggle="select2" name="pasta" id="pasta">
                                                                                    {% for pasta in pastas %}
                                                                                    <option value="{{pasta.id}}" selected>{{pasta.nome}}</option>
                                                    
                                                                                    {% endfor %}
                                                            
                                                                                </select>
                                                                            </div>
                                                                            <div class="row d-flex align-items-center justify-content-center">
                                                                        
                                                                                <div class="col-12 col-sm-12 col-md-12" style="text-align: center;">
                                                                                    <label style="width: 100%;" for="files{{forloop.counter}}" class="btn btn-primary">
                                                                                        <i class="ri-file-fill"></i> ESCOLHER ARQUIVOS
                                                                                    </label>
                                                                                </div>
                                                                            
                                                                                
                                                                                    <input style="width: 100%;" type="file" name="files{{forloop.counter}}" id="files{{forloop.counter}}" class="d-none" multiple onchange="showSelectedFilesDinamic('{{forloop.counter}}')">
                                                                                    <div  class="row mt-2" id="fileDisplay{{forloop.counter}}"></div>
                                                                        
                                                                            </div>
                                                                            <textarea  style="background-color: burlywood;" class="summernote"  id="summernote" name="editordata"></textarea>
                                                                            <hr>
                                                                            <button onclick="concluirDemanda('{{demanda.id}}','formRealizaEntrega_{{forloop.counter}}','files{{forloop.counter}}')" style="width: 100%;" type="button" class="btn btn-success"><i class="ri-checkbox-circle-line me-1"></i> <span> Concluir Demanda</span> </button>
                                                                            </form>
                                                                    
                                                                        {% else %}
                                                                            <span>{{ demanda.descricao_entrega|safe }}</span>
                                                                        {% endif %}

                                                                        {% if demanda.demandas_arquivos%}
                                                                        <div class="row" id="arquivos_solicitacao">
                                                                            {% for arquivo in demanda.demandas_arquivos %}
                                                                            <div class="col-12"  >
                                                                                <div class="mb-3">
                                                                                    <a style="width: 100%;" href="{{arquivo.rota}}" class="btn btn-soft-secondary">
                                                                                        <i class="ri-file-fill"></i><br>{{ arquivo.rota|cut:"/media/" }}
                                                                                    </a>
                                                                                    {% if demanda.status < 4 %}
                                                                                    <a style="width: 100%;" onclick="RemoveArquivos('{{arquivo.id}}','{{demanda.solicitacao_id}}')" class="btn btn-soft-danger">
                                                                                        <i class="ri-close-circle-fill"></i> Remover Arquivo
                                                                                    </a>
                                                                                {% endif %}
                                                                                </div>
                                                                            </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                            <!-- {% for arquivo in demanda.demandas_arquivos %}
                                                                            <div class="col-12">
                                                                                <div class="mb-3">
                                                                                    <a style="width: 100%;" href="{{arquivo.rota}}" class="btn btn-soft-secondary">
                                                                                        <i class="ri-file-fill"></i><br>{{ arquivo.rota|cut:"/media/" }}
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            {% endfor %} -->
                                                                        {% endif %}
                                                                    
                                                                    </td>
                                                                </tr>
                                                            
                                                            </tbody>
                                                        </table>
                                                        

                                                    <hr>
                                                    {% if demanda.devolutiva %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <i class="ri-close-circle-line me-1 align-middle fs-16"></i> {{ demanda.devolutiva|striptags }}
                                                    </div>

                                                    
                                                    {% endif %}
                                                    {% if demanda.autor_id == request.user.id and demanda.status == 3 and demanda.gerencia == 0 %}
                                                    <div class="row mb-3">
                                                        
                                                        <div class="col-6"></div>
                                                        <div class="col-3"><button onclick="enviaAprovacao('{{demanda.id}}')" style="width: 100%;" type="button" class="btn btn-dark btn-sm"><i class="ri-checkbox-circle-line"></i> <span>Enviar P/Aprovação</span> </button></div>
                                                        <div class="col-3" ><button onclick="revisaoDemanda('{{demanda.id}}')" style="width: 100%;" type="button" class="btn btn-dark btn-sm"><i class="ri-exchange-fill"></i> <span>Solicitar Revisão</span> </button></div>
                                                    </div>
                                                    {% endif %}

                                                    {% if usuario_logado.cargo == 1 and demanda.status == 3 and demanda.gerencia == 1 %}
                                                    <div class="row mb-3">
                                                        
                                                        <div class="col-4" ></div>
                                                        <div class="col-4"><button onclick="ConcluirDemanda('{{demanda.id}}')" style="width: 100%;" type="button" class="btn btn-dark btn-sm"><i class="ri-checkbox-circle-line"></i> <span>Aprovar Demanda</span> </button></div>
                                                        <div class="col-4" ><button onclick="revisaoDemanda('{{demanda.id}}')" style="width: 100%;" type="button" class="btn btn-dark btn-sm"><i class="ri-exchange-fill"></i> <span>Devolver para Cordenador</span> </button></div>
                                                    </div>
                                                    {% endif %}
                                                    
                                                    <div class="col-12"  id="display_aprovacao_{{demanda.id}}" style="display: none;">
                                                        <div class="mb-3">
                                    
                                                                    <label for="solicitacaotext" class="form-label">Informe o Responsável pela Aprovação:</label>
                                                                    <select class="form-control select2" data-toggle="select2" name="gerente_select" id="gerente_select">
                                                                        {% for gerente in gerentes %}
                                                                        <option value="{{gerente.user_profile.id}}">{{gerente.user_profile.first_name}}</option>
                            
                                                                        {% endfor %}
                                                                    </select>
                                                                    <button onclick="AprovarDemanda('{{demanda.id}}')" style="width: 100%;" type="button" class="btn btn-soft-primary rounded-pill mt-2"> <i class="ri-corner-up-left-fill"></i> Enviar </button>
                                    
                                                        </div>
                                                    </div>
                                                    <div class="col-12"  id="motivo_revisao_{{demanda.id}}" style="display: none;">
                                                        <div class="mb-3">
                                    
                                                                    <label for="solicitacaotext" class="form-label">Informe o Motivo da Revisão:</label>
                                                                    <textarea class="summernote"  id="motivo_revisao_demanda_{{demanda.id}}" name="motivo_revisao_demanda_{{demanda.id}}"></textarea>
                                                                    <button onclick="devolverDemanda('{{demanda.id}}')" style="width: 100%;" type="button" class="btn btn-soft-danger rounded-pill mt-2"> <i class="ri-corner-up-left-fill"></i> Solicitar Revisão</button>
                                    
                                                        </div>
                                                    </div>

                                                
                                                    </div>
                                                </div>
                                        
                                        </div>
                                    {% endif %}
                                    {% endfor %}

                                </div> <!-- end card-body-->
                            </div>
                        </div>
                    </div>
                </div>

            </div> 
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

function AprovarDemanda(demanda_id){
    var XCSRFToken = '{{ csrf_token }}';
    Swal.fire({
        title: 'Encaminhar Demanda?',
        text: 'Deseja encaminhar esta demanda para aprovação? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/aprovar-demanda";
            var gerente = document.getElementById("gerente_select").value;
        
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'gerente': gerente, 'demanda_id': demanda_id},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
          
                    Swal.fire({
                        icon: 'success',
                        title: 'Demanda Encaminhada!',
                        text: "Sua demanda foi encaminhada com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            window.location.href = 'meus-jobs';
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });

}

function RemoveArquivos(file_id,solicitacao_id){
    var XCSRFToken = '{{ csrf_token }}';
    
    Swal.fire({
        title: 'Remover Arquivo da Solicitação',
        text: 'Deseja realmente este arquivo desta solicitação? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/remove-file";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'arquivo_id':file_id,'solicitacao_id':solicitacao_id},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Arquivo Removido!',
                        text: "Arquivo foi removido da solicitação!",
                    }).then((result) => {
                        $("#arquivos_solicitacao").html(data);
                       
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function devolveSolicitacao(solicitacaoID){
    var XCSRFToken = '{{ csrf_token }}';
    var motivo = document.getElementById('motivo_devolucao_text').value;
    console.log(solicitacaoID)
    
    Swal.fire({
        title: 'Devolver Solicitação',
        text: 'Deseja realmente devolver esta solicitação?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/devolve-solicitacao";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'solicitacao_id':solicitacaoID,'motivo':motivo},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Solicitação Devolvida!',
                        text: "A solicitação foi devolvida com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            location.reload();
                           
                           
                        }
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function show_devolve_solicitacao(demanda_id){
    var elemento = document.getElementById("motivo_devolucao_"+demanda_id);
    elemento.style.display = 'block';
}

function alteraSolicitacao(solicitacaoId){
    var XCSRFToken = '{{ csrf_token }}';
    var prazo = document.getElementById('prazo_entrega').value;
    var briefing = document.getElementById('briefing').value;
    var prioridade = document.getElementById('prioridade').value;
    var form = document.getElementById("form_alteracao");
    var formData = new FormData(form);  // Use FormData para incluir campos de arquivo]

    var fileInput = document.getElementById('fileInput');
    
    if (fileInput){
      for (var i = 0; i < fileInput.files.length; i++) {
        console.log(fileInput.files[i])
        formData.append('files[]', fileInput.files[i]);
    }
    }

    formData.append('prazo', prazo);
    formData.append('briefing', briefing);
    formData.append('prioridade', prioridade);
    formData.append('solicitacaoId', solicitacaoId);


    Swal.fire({
        title: 'Alterar Solicitação',
        text: 'Deseja realmente alterar esta solicitação? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/altera-solicitacao";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                headers: { "X-CSRFToken": XCSRFToken },
                processData: false,  // Não processar os dados (o FormData já cuida disso)
                contentType: false,  // Não definir o tipo de conteúdo (o FormData já cuida disso)
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Solicitação Alterada!',
                        text: "Alteração realizada com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            location.reload();
                           
                           
                        }
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function designarPessoa(solicitacaoId){
    var XCSRFToken = '{{ csrf_token }}';
    var peca = document.getElementById('select2_peca_design').value;
    var prioridade = document.getElementById('select2_prioridade').value;
    var usuario = document.getElementById('select2_usuario').value;
    
    Swal.fire({
        title: 'Designar Usuário',
        text: 'Deseja realmente designar este usuário a esta peça? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/designar-usuario";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'solicitacao_id':solicitacaoId,'peca':peca,'usuario_id':usuario,'prioridade':prioridade},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Peça Cadastrada!',
                        text: "Peça cadastrada com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            $("#tbl_designacoes").html(data);
                           
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function cadastrarPeca(solicitacaoId){
    var XCSRFToken = '{{ csrf_token }}';
    Swal.fire({
        title: 'Cadastrar Peça',
        text: 'Deseja realmente cadastrar esta peça? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/cadastrar-peca";

            var peca = document.getElementById('cadpecas').value;
            console.log(peca)
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'solicitacao_id':solicitacaoId,'peca':peca},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    console.log(data)
                    Swal.fire({
                        icon: 'success',
                        title: 'Peça Cadastrada!',
                        text: "Peça cadastrada com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            $("#tbl_pecas").html(data);
                            peca = ""

                            modalTaskView(solicitacaoId);
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function concluirDemanda(demandaId,formulario,files){

    var XCSRFToken = '{{ csrf_token }}';
    Swal.fire({
        title: 'Realizar Entrega?',
        text: 'Deseja realmente realizar esta entrega? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/concluir-demanda";
            var form = document.getElementById(formulario);
            var formData = new FormData(form); 
            formData.append('demandaId', demandaId);
            var fileInput = document.getElementById(files);
            
            if (fileInput){
            for (var i = 0; i < fileInput.files.length; i++) {
                console.log(fileInput.files[i])
                formData.append('files[]', fileInput.files[i]);
            }
            }
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                headers: { "X-CSRFToken": XCSRFToken },
                processData: false,  // Não processar os dados (o FormData já cuida disso)
                contentType: false,  // Não definir o tipo de conteúdo (o FormData já cuida disso)
                success: function (data) {
          
                    Swal.fire({
                        icon: 'success',
                        title: 'Demanda Entregue!',
                        text: "Sua demanda foi entregue e já está em aprovação pelo administrador.",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            window.location.href = 'meus-jobs';
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function revisaoDemanda(demanda_id){
    var elemento = document.getElementById("motivo_revisao_"+demanda_id);
    var envia_aprovacao = document.getElementById("display_aprovacao_"+demanda_id);
    elemento.style.display = 'block';
    envia_aprovacao.style.display = 'none';
}
function enviaAprovacao(demanda_id){
    var elemento = document.getElementById("motivo_revisao_"+demanda_id);
    var envia_aprovacao = document.getElementById("display_aprovacao_"+demanda_id);
    envia_aprovacao.style.display = 'block';
    elemento.style.display = 'none';
}

function devolverDemanda(demanda_id){
    var iddemanda = demanda_id;
    var motivo_devolucao = document.getElementById("motivo_revisao_demanda_"+iddemanda).value;
  
    var XCSRFToken = '{{ csrf_token }}';
    Swal.fire({
        title: 'Solicitar Revisão?',
        text: 'Deseja realmente solicitar a revisão desta demanda? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/revisao-demanda";
         
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'demanda_id': iddemanda, 'motivo_devolucao':motivo_devolucao},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
          
                    Swal.fire({
                        icon: 'success',
                        title: 'Enviado para Revisão!',
                        text: "Esta demanda foi enviada para revisão.",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            window.location.href = 'meus-jobs';
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function ConcluirDemanda(demandaId){
    var XCSRFToken = '{{ csrf_token }}';
    Swal.fire({
        title: 'Aprovar Demanda?',
        text: 'Deseja aprovar e finalizar esta demanda? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/finalizar-demanda";
            $.ajax({
                url: url,
                type: "POST",
                data: {'demanda_id': demandaId},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Concluído!',
                        text: "Esta demanda foi concluída.",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            window.location.href = 'meus-jobs';
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

$(document).ready(function() {

    $('.summernote').summernote(
    {
  toolbar: [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['para', ['ul', 'ol']],

    // Outras opções de toolbar que você deseja incluir, mas sem 'link'
  ],
  // Outras configurações necessárias para o seu uso
}
  );
  var briefing = `{{solicitacao.briefing|safe}}`

  $('#briefing').summernote('code', "");

});

function showSelectedFiles() {
            const fileInput = document.getElementById('fileInput');
            const fileDisplay = document.getElementById('fileDisplay');

            // Limpa a exibição de arquivos anteriores
            fileDisplay.innerHTML = "";

            const files = fileInput.files;
            for (let i = 0; i < files.length; i++) {
                const fileName = files[i].name;
                const listItem = document.createElement('div');
                listItem.className = "col-auto";
                listItem.innerHTML = `
                    <i class="file-icon ri-upload-cloud-line me-1"></i>
                    <span style="font-size: 13px;">${fileName}</span>
                    <i class="remove-button ri-indeterminate-circle-fill" onclick="removeFile(${i})" style="cursor: pointer; color: red; font-size: 20px;"	></i>
                `;
                fileDisplay.appendChild(listItem);
            }
        }

function removeFile(index) {
    const fileInput = document.getElementById('fileInput');
    const files = Array.from(fileInput.files);
    files.splice(index, 1);

    // Cria um novo input de arquivo e copia os arquivos restantes
    const newFileInput = document.createElement('input');
    newFileInput.type = 'file';
    newFileInput.id = 'fileInput';
    newFileInput.multiple = true;
    newFileInput.style.display = 'none';
    newFileInput.addEventListener('change', showSelectedFiles);

    const dataTransfer = new DataTransfer();
    files.forEach(file => dataTransfer.items.add(file));
    newFileInput.files = dataTransfer.files;

    // Substitui o input de arquivo anterior
    fileInput.parentNode.replaceChild(newFileInput, fileInput);

    // Atualize a lista de arquivos selecionados
    showSelectedFiles();
}

function adicionarCampo() {
    var novoCampo = document.createElement('div');
            novoCampo.innerHTML = `
                <div class="campo_pasta">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control " name="pastas" placeholder="Nome da Pasta">
                        <div class="input-group-append">
                            <button style="padding: 10px;" type="button" class="btn btn-danger btn-sm" onclick="removerCampo(this)"><i class="ri-close-circle-line"></i></button>
                        </div>
                    </div>
                </div>`;
            document.getElementById('campos_pasta').appendChild(novoCampo);
        }

function removerCampo(elemento) {
            // Remove o elemento pai do botão (ou seja, o campo de entrada e o botão de remoção)
            elemento.closest('.campo_pasta').remove();
        }

function finalizarJob(solicitacao_id){
    var XCSRFToken = '{{ csrf_token }}';
    Swal.fire({
        title: 'Concluir o Job?',
        text: 'Deseja realmente concluir este Job? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/concluir-job";
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'solicitacao_id': solicitacao_id},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
          
                    Swal.fire({
                        icon: 'success',
                        title: 'Job Finalizado!',
                        text: "Job foi finalizado com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            window.location.href = 'meus-jobs';
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}
</script>